In [3]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [5]:
from google.colab import files

In [6]:
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"kenseismart","key":"f0770d64c231bec5e129fd571312b5e5"}'}

In [7]:
!ls -lha kaggle.json

-rw-r--r-- 1 root root 67 Nov 16 10:54 kaggle.json

In [8]:
!pip install -q kaggle

In [9]:
!mkdir -p ~/.kaggle

In [10]:
!cp kaggle.json ~/.kaggle/

In [11]:
!chmod 600 /root/.kaggle/kaggle.json

In [12]:
!pwd

/content

In [13]:
!kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                                         title                                              size  lastUpdated          downloadCount
----------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------
gpreda/reddit-vaccine-myths                                 Reddit Vaccine Myths                              237KB  2021-11-10 18:11:20          15659
crowww/a-large-scale-fish-dataset                           A Large Scale Fish Dataset                          3GB  2021-04-28 17:03:01           9487
imsparsh/musicnet-dataset                                   MusicNet Dataset                                   22GB  2021-02-18 14:12:19           4273
dhruvildave/wikibooks-dataset                               Wikibooks Dataset                                   2GB  2021-10-22 10:48:21           3475
promptcloud/careerbuilder-job-listing-2020                  Careerbuilder Job Listing 2020                     42MB  2021-03-05 06:59:52           2645
nickuzmenkov/nih-chest-xrays-tfrecords                      NIH Chest X-rays TFRecords                         11GB  2021-03-09 04:49:23           1584
fatiimaezzahra/famous-iconic-women                          Famous Iconic Women                               838MB  2021-02-28 14:56:00           1838
alsgroup/end-als                                            End ALS Kaggle Challenge                           12GB  2021-04-08 12:16:37           1083
simiotic/github-code-snippets                               GitHub Code Snippets                                7GB  2021-03-03 11:34:39            480
mathurinache/twitter-edge-nodes                             Twitter Edge Nodes                                342MB  2021-03-08 06:43:04           1278
mathurinache/the-lj-speech-dataset                          The LJ Speech Dataset                               3GB  2021-02-15 09:19:54            469
coloradokb/dandelionimages                                  DandelionImages                                     4GB  2021-02-19 20:03:47           1012
stuartjames/lights                                          LightS: Light Specularity Dataset                  18GB  2021-02-18 14:32:26            201
imsparsh/accentdb-core-extended                             AccentDB - Core & Extended                          6GB  2021-02-17 14:22:54            177
nickuzmenkov/ranzcr-clip-kfold-tfrecords                    RANZCR CLiP KFold TFRecords                         2GB  2021-02-21 13:29:51            160
landrykezebou/lvzhdr-tone-mapping-benchmark-dataset-tmonet  LVZ-HDR Tone Mapping Benchmark Dataset (TMO-Net)   24GB  2021-03-01 05:03:40            228
datasnaek/youtube-new                                       Trending YouTube Video Statistics                 201MB  2019-06-03 00:56:47         157750
zynicide/wine-reviews                                       Wine Reviews                                       51MB  2017-11-27 17:08:04         148301
datasnaek/chess                                             Chess Game Dataset (Lichess)                        3MB  2017-09-04 03:09:09          24770
residentmario/ramen-ratings                                 Ramen Ratings                                      40KB  2018-01-11 16:04:39          29689

In [23]:
!kaggle competitions download -c avito-demand-prediction  -f train.csv

Downloading train.csv.zip to /content
 98% 313M/318M [00:02<00:00, 134MB/s]
100% 318M/318M [00:02<00:00, 115MB/s]

In [24]:
!  python -m pip install dask[dataframe] --upgrade
import dask.dataframe as dd
import pandas as pd

Requirement already satisfied: dask[dataframe] in /usr/local/lib/python3.7/dist-packages (2.12.0)
Collecting partd>=0.3.10
  Downloading partd-1.2.0-py3-none-any.whl (19 kB)
Requirement already satisfied: toolz>=0.7.3 in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]) (0.11.2)
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]) (1.19.5)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]) (1.1.5)
Collecting fsspec>=0.6.0
  Downloading fsspec-2021.11.0-py3-none-any.whl (132 kB)
     |████████████████████████████████| 132 kB 5.1 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.0->dask[dataframe]) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.0->dask[dataframe]) (2.8.2)
Collecting locket
  Downloading locket-0.2.1-py2.py3-none-any.whl (4.1 kB)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23.0->dask[dataframe]) (1.15.0)
Installing collected packages: locket, partd, fsspec
Successfully installed fsspec-2021.11.0 locket-0.2.1 partd-1.2.0

In [25]:
!unzip train.csv.zip

Archive:  train.csv.zip
  inflating: train.csv

In [26]:
train_df = pd.read_csv('train.csv', error_bad_lines=False, engine="python")

In [27]:
train_df.head(1)

        item_id       user_id  ... image_top_1 deal_probability
0  b912c3c6a6ad  e00f8ff2eaf9  ...      1008.0          0.12789

[1 rows x 18 columns]

## Data cleaning

In [28]:
len(train_df)

1503424

## I will drop item_id, because they are all unique.

In [29]:
train_df = train_df.drop(['item_id'], axis=1)

## LobalCodeEncoding for user_id

In [30]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

In [31]:
all_users = train_df.user_id

In [32]:
all_users = labelencoder.fit_transform(all_users)

In [33]:
user_idx = train_df.user_id

In [34]:
user_idx[:6]

0    e00f8ff2eaf9
1    39aeb48f0017
2    91e2f88dd6e3
3    bf5cccea572d
4    ef50846afc0b
5    bbfad0b1ad0a
Name: user_id, dtype: object

In [35]:
train_df.user_id = all_users

In [36]:
train_df.user_id.nunique()

771769

In [37]:
train_df.head(3)

   user_id                region  ... image_top_1 deal_probability
0   675853  Свердловская область  ...      1008.0          0.12789
1   173962     Самарская область  ...       692.0          0.00000
2   440069    Ростовская область  ...      3032.0          0.43177

[3 rows x 17 columns]

LabelCodeEncoding for city

In [38]:
city_encoder = LabelEncoder()

In [39]:
train_df.city.isna().sum()

0

In [40]:
train_df.city = city_encoder.fit_transform(train_df.city)

In [41]:
train_df.head(3)

   user_id                region  ...  image_top_1 deal_probability
0   675853  Свердловская область  ...       1008.0          0.12789
1   173962     Самарская область  ...        692.0          0.00000
2   440069    Ростовская область  ...       3032.0          0.43177

[3 rows x 17 columns]

## LabelEncoding For region

In [42]:
region_encoder = LabelEncoder()

In [43]:
train_df.region = region_encoder.fit_transform(train_df.region)

In [44]:
train_df.head()

   user_id  region  ...  image_top_1 deal_probability
0   675853      19  ...       1008.0          0.12789
1   173962      17  ...        692.0          0.00000
2   440069      16  ...       3032.0          0.43177
3   576929      21  ...        796.0          0.80323
4   721853       4  ...       2264.0          0.20797

[5 rows x 17 columns]

## LabelEncoding For parent_category_name

In [45]:
train_df.parent_category_name.isna().sum()

0

In [46]:
parent_category_name_encoder = LabelEncoder()

In [47]:
train_df.parent_category_name = parent_category_name_encoder.fit_transform(train_df.parent_category_name)

In [48]:
train_df.head(3)

   user_id  region  ...  image_top_1  deal_probability
0   675853      19  ...       1008.0           0.12789
1   173962      17  ...        692.0           0.00000
2   440069      16  ...       3032.0           0.43177

[3 rows x 17 columns]

LabelEncoding for category_name

In [49]:
train_df.category_name.isna().sum()

0

In [50]:
category_name_encoder = LabelEncoder()

In [51]:
train_df.category_name = category_name_encoder.fit_transform(train_df.category_name)

In [52]:
train_df.head(3)

   user_id  region  ...  image_top_1  deal_probability
0   675853      19  ...       1008.0           0.12789
1   173962      17  ...        692.0           0.00000
2   440069      16  ...       3032.0           0.43177

[3 rows x 17 columns]

LabelEncoder for param

In [53]:
train_df.param_1.isna().sum()

61576

In [54]:
train_df.param_1.isna().sum() / (len(train_df))

0.0409571750883317

In [55]:
train_df['param_1'].value_counts().idxmax()

'Женская одежда'

In [56]:
train_df.param_1 = train_df.param_1.fillna('Женская одежда')

In [57]:
param_1_encoder = LabelEncoder()

In [58]:
train_df.param_1 = param_1_encoder.fit_transform(train_df.param_1)

In [59]:
train_df.head(3)

   user_id  region  ...  image_top_1  deal_probability
0   675853      19  ...       1008.0           0.12789
1   173962      17  ...        692.0           0.00000
2   440069      16  ...       3032.0           0.43177

[3 rows x 17 columns]

In [60]:
train_df.param_2.isna().sum()

654542

In [61]:
train_df.param_3.isna().sum()

862565

In [62]:
train_df.param_2 = train_df.param_2.fillna('Zero')
train_df.param_3 = train_df.param_3.fillna('Zero')

In [63]:
param_2_encoder = LabelEncoder()
param_3_encoder = LabelEncoder()

In [64]:
train_df.param_2 = param_2_encoder.fit_transform(train_df.param_2)
train_df.param_3 = param_3_encoder.fit_transform(train_df.param_3)

In [65]:
train_df.head(3)

   user_id  region  ...  image_top_1  deal_probability
0   675853      19  ...       1008.0           0.12789
1   173962      17  ...        692.0           0.00000
2   440069      16  ...       3032.0           0.43177

[3 rows x 17 columns]

# OTHERS Columns

In [66]:
train_df.title.nunique()

788377

In [67]:
train_df.title.isna().sum()

0

In [68]:
titel_encoder = LabelEncoder()

In [69]:
train_df.title = titel_encoder.fit_transform(train_df.title)

In [70]:
train_df = train_df.drop(['description'], axis=1)
train_df.head(1)

   user_id  region  ...  image_top_1  deal_probability
0   675853      19  ...       1008.0           0.12789

[1 rows x 16 columns]

In [71]:
train_df = train_df.drop(['image'], axis=1)
train_df.head(1)

   user_id  region  city  ...  user_type  image_top_1  deal_probability
0   675853      19   460  ...    Private       1008.0           0.12789

[1 rows x 15 columns]

In [72]:
train_df.user_type.isna().sum()

0

In [73]:
type_encoder = LabelEncoder()
train_df.user_type = type_encoder.fit_transform(train_df.user_type)
train_df.head(3)

   user_id  region  city  ...  user_type  image_top_1  deal_probability
0   675853      19   460  ...          1       1008.0           0.12789
1   173962      17  1300  ...          1        692.0           0.00000
2   440069      16  1276  ...          1       3032.0           0.43177

[3 rows x 15 columns]

In [74]:
train_df.activation_year = [i.split('-')[0] for i in train_df.activation_date]
train_df.activation_month = [i.split('-')[1] for i in train_df.activation_date]
train_df.activation_data = [i.split('-')[2] for i in train_df.activation_date]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  This is separate from the ipykernel package so we can avoid doing imports until

In [75]:
# Del this column and find that other date column were disappeared, got that and keep move foraward.
train_df = train_df.drop(['activation_date'], axis=1)
train_df.head(1)

   user_id  region  city  ...  user_type  image_top_1  deal_probability
0   675853      19   460  ...          1       1008.0           0.12789

[1 rows x 14 columns]

In [76]:
train_df.head(3)

   user_id  region  city  ...  user_type  image_top_1  deal_probability
0   675853      19   460  ...          1       1008.0           0.12789
1   173962      17  1300  ...          1        692.0           0.00000
2   440069      16  1276  ...          1       3032.0           0.43177

[3 rows x 14 columns]

# train-test разделение нужно сделать с помощью sklearn random_state=13, test_size = 0.25

In [77]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(train_df, test_size=0.2, random_state=13)

# Создать Dataset для загрузки данных (используем только числовые данные)

In [78]:
import math
import torch
import numpy as np

import numpy as np

from PIL import Image
from torchvision import transforms, datasets

In [79]:
train_df.head(3)

   user_id  region  city  ...  user_type  image_top_1  deal_probability
0   675853      19   460  ...          1       1008.0           0.12789
1   173962      17  1300  ...          1        692.0           0.00000
2   440069      16  1276  ...          1       3032.0           0.43177

[3 rows x 14 columns]

In [80]:
torch.tensor(train_df.drop(['deal_probability'], axis=1).values.astype(np.float32))

tensor([[6.7585e+05, 1.9000e+01, 4.6000e+02,  ..., 2.0000e+00, 1.0000e+00,
         1.0080e+03],
        [1.7396e+05, 1.7000e+01, 1.3000e+03,  ..., 1.9000e+01, 1.0000e+00,
         6.9200e+02],
        [4.4007e+05, 1.6000e+01, 1.2760e+03,  ..., 9.0000e+00, 1.0000e+00,
         3.0320e+03],
        ...,
        [3.0980e+05, 1.0000e+00, 1.3700e+02,  ..., 5.0000e+01, 0.0000e+00,
         1.2020e+03],
        [1.3626e+05, 1.5000e+01, 1.5500e+02,  ..., 3.3000e+01, 1.0000e+00,
         8.7000e+01],
        [7.3351e+05, 9.0000e+00, 4.7000e+01,  ..., 1.8000e+01, 1.0000e+00,
         9.7900e+02]])

In [81]:
class MyDataset(torch.utils.data.Dataset):
  
    def __init__(self, X, y):
        self.X = torch.tensor(X.values.astype(np.float32))
        self.y = torch.tensor(y.values.astype(np.float32))

    def __len__(self):
        return len(self.X)
  
    def __getitem__(self, index):
        return (self.X[index], self.y[index])

In [82]:
dataset = MyDataset(X=train.drop(['deal_probability'], axis=1), y=train['deal_probability'])

In [83]:
train_loader = torch.utils.data.DataLoader(dataset,
                          batch_size=64,
                          shuffle=True,
                          num_workers=2, drop_last=True)

In [99]:
for batch, label in train_loader:
    print(batch.shape)
    print(label)
    break

torch.Size([64, 13])
tensor([0.2000, 0.0000, 0.0000, 0.6000, 0.8652, 0.0000, 0.0000, 0.3605, 0.0000,
        0.3272, 0.0991, 0.0000, 0.0000, 0.7040, 0.1721, 0.0000, 0.1059, 0.1236,
        0.0000, 0.2967, 0.2389, 0.4457, 0.0000, 0.7679, 0.0000, 0.0000, 0.0000,
        0.0000, 0.0000, 0.0000, 0.7679, 0.7040, 0.1540, 0.0000, 0.0996, 0.0000,
        0.0416, 0.0000, 0.0000, 0.8806, 0.0000, 0.0000, 0.8032, 0.0000, 0.0000,
        0.5000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.8032, 0.8652, 0.0000,
        0.0000, 0.0000, 0.0000, 0.0000, 0.1581, 0.0000, 0.0000, 0.0000, 0.0000,
        0.0000])

In [85]:
test_dataset = MyDataset(X=test.drop(['deal_probability'], axis=1), y=test['deal_probability'])

In [86]:
test_loader = torch.utils.data.DataLoader(dataset,
                          batch_size=64,
                          shuffle=True,
                          num_workers=2, drop_last=True)

In [98]:
for batch, label in train_loader:
    print(batch.shape)
    print(label)
    break

torch.Size([64, 13])
tensor([0.0000, 0.1872, 0.8652, 0.0000, 0.0000, 0.1287, 0.0000, 0.7500, 0.1206,
        0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.5000, 0.0000, 0.8652, 0.0000,
        0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.1286, 0.0000, 0.0000,
        0.0000, 0.0974, 0.0000, 0.0000, 0.0000, 0.8032, 0.0000, 0.0000, 0.0000,
        0.0000, 0.0772, 0.0000, 0.0000, 0.8032, 0.8267, 0.0000, 0.0000, 0.0000,
        0.0000, 0.0000, 0.0000, 0.3397, 0.1026, 0.0000, 0.0000, 0.2120, 0.0000,
        0.8032, 0.0000, 0.0000, 0.2265, 0.1075, 0.0527, 0.0000, 0.0000, 0.0000,
        0.0000])

In [134]:
# Хотя как писал конфуций перед тем как засунуть в нейронку данные нормализуЙ! я поругав себя очень сильно продолжу просто так.
import torch.nn as nn

ReLU = nn.ReLU()

class Net(nn.Module):
    def __init__(self):
        super(Net, self).__init__()
        self.fc1 = nn.Linear(13, 50)
        self.bn1 = nn.BatchNorm1d(50)
        self.fc2 = nn.Linear(50, 50)
        self.dp = nn.Dropout(0.25)
        self.fc3 = nn.Linear(50, 1)


    def forward(self, x):
        x = self.fc1(x)
        # x = self.bn1(x)
        # x = ReLU(self.fc2(x))
        # x = self.dp(x)
        x = self.fc3(x)
        return x.view(-1)

In [135]:
net = Net()
print(net)

Net(
  (fc1): Linear(in_features=13, out_features=50, bias=True)
  (bn1): BatchNorm1d(50, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (fc2): Linear(in_features=50, out_features=50, bias=True)
  (dp): Dropout(p=0.25, inplace=False)
  (fc3): Linear(in_features=50, out_features=1, bias=True)
)

In [118]:
x = batch
x.shape

torch.Size([64, 13])

Учить будем на функцию потерь с кагла (log RMSE) - нужно её реализовать

In [119]:
class RMSELoss(torch.nn.Module):
    def __init__(self):
        super(RMSELoss,self).__init__()

    def forward(self,x,y):
        criterion = nn.MSELoss()
        loss = torch.sqrt(criterion(x, y))
        return loss

In [125]:
optimizer = torch.optim.Adam(net.parameters(), lr=1e-10)
loss_fn = RMSELoss()

In [121]:
def train(dataloader, model, loss_fn, optimizer):
    size = len(dataloader.dataset)
    model.train()
    for batch, (X, y) in enumerate(dataloader):
        X, y = X.to(device), y.to(device)

        # Compute prediction error
        pred = model(X)
        loss = loss_fn(pred, y)

        # Backpropagation
        optimizer.zero_grad()

        # pred = model(X)
        # loss = loss_fn(pred, y)

        loss.backward()
        optimizer.step()

        if batch % 100 == 0:
            loss, current = loss.item(), batch * len(X)
            print(f"loss: {loss:>7f}  [{current:>5d}/{size:>5d}]")

In [122]:
def test(dataloader, model, loss_fn):
    size = len(dataloader.dataset)
    num_batches = len(dataloader)
    model.eval()
    test_loss, correct = 0, 0
    with torch.no_grad():
        for X, y in dataloader:
            X, y = X.to(device), y.to(device)
            pred = model(X)
            test_loss += loss_fn(pred, y).item()
            correct += (pred.argmax(1) == y).type(torch.float).sum().item()
    test_loss /= num_batches
    correct /= size
    print(f"Test Error: \n Accuracy: {(100*correct):>0.1f}%, Avg loss: {test_loss:>8f} \n")

In [123]:
device = "cuda" if torch.cuda.is_available() else "cpu"

In [136]:
loss_fn = nn.BCEWithLogitsLoss()
epochs = 10000
for t in range(epochs):
    print(f"Epoch {t+1}\n-------------------------------")
    train(train_loader, net, loss_fn, optimizer)
    test(test_loader, net, loss_fn)
print("Done!")

Epoch 1
-------------------------------
loss:     nan  [    0/1202739]
loss:     nan  [ 6400/1202739]
loss: 13345.139648  [12800/1202739]
loss:     nan  [19200/1202739]
loss:     nan  [25600/1202739]
loss:     nan  [32000/1202739]
loss:     nan  [38400/1202739]
loss:     nan  [44800/1202739]
loss:     nan  [51200/1202739]
loss:     nan  [57600/1202739]
loss:     nan  [64000/1202739]
loss:     nan  [70400/1202739]
loss:     nan  [76800/1202739]
loss:     nan  [83200/1202739]
loss:     nan  [89600/1202739]
loss:     nan  [96000/1202739]
loss:     nan  [102400/1202739]
loss:     nan  [108800/1202739]
loss:     nan  [115200/1202739]
loss:     nan  [121600/1202739]
loss:     nan  [128000/1202739]
loss:     nan  [134400/1202739]
loss:     nan  [140800/1202739]
loss:     nan  [147200/1202739]
loss:     nan  [153600/1202739]
loss:     nan  [160000/1202739]
loss:     nan  [166400/1202739]
loss:     nan  [172800/1202739]
loss:     nan  [179200/1202739]
loss:     nan  [185600/1202739]
loss:     nan  [192000/1202739]
loss:     nan  [198400/1202739]
loss:     nan  [204800/1202739]
loss:     nan  [211200/1202739]
loss:     nan  [217600/1202739]
loss:     nan  [224000/1202739]
loss:     nan  [230400/1202739]
loss:     nan  [236800/1202739]
loss:     nan  [243200/1202739]
loss:     nan  [249600/1202739]
loss:     nan  [256000/1202739]
loss:     nan  [262400/1202739]
loss:     nan  [268800/1202739]
loss:     nan  [275200/1202739]
loss:     nan  [281600/1202739]
loss:     nan  [288000/1202739]
loss:     nan  [294400/1202739]
loss:     nan  [300800/1202739]
loss:     nan  [307200/1202739]
loss:     nan  [313600/1202739]
loss:     nan  [320000/1202739]
loss:     nan  [326400/1202739]
loss:     nan  [332800/1202739]
loss:     nan  [339200/1202739]
loss:     nan  [345600/1202739]
loss:     nan  [352000/1202739]
loss:     nan  [358400/1202739]
loss:     nan  [364800/1202739]
loss:     nan  [371200/1202739]
loss:     nan  [377600/1202739]
loss:     nan  [384000/1202739]
loss:     nan  [390400/1202739]
loss:     nan  [396800/1202739]
loss:     nan  [403200/1202739]
loss:     nan  [409600/1202739]
loss:     nan  [416000/1202739]
loss:     nan  [422400/1202739]
loss:     nan  [428800/1202739]
loss:     nan  [435200/1202739]
loss:     nan  [441600/1202739]
loss:     nan  [448000/1202739]
loss:     nan  [454400/1202739]
loss:     nan  [460800/1202739]
loss:     nan  [467200/1202739]
loss:     nan  [473600/1202739]
loss:     nan  [480000/1202739]
loss:     nan  [486400/1202739]
loss:     nan  [492800/1202739]
loss:     nan  [499200/1202739]
loss:     nan  [505600/1202739]
loss:     nan  [512000/1202739]
loss:     nan  [518400/1202739]
loss:     nan  [524800/1202739]
loss:     nan  [531200/1202739]
loss:     nan  [537600/1202739]
loss:     nan  [544000/1202739]
loss:     nan  [550400/1202739]
loss:     nan  [556800/1202739]
loss:     nan  [563200/1202739]
loss:     nan  [569600/1202739]
loss:     nan  [576000/1202739]
loss:     nan  [582400/1202739]
loss:     nan  [588800/1202739]
loss:     nan  [595200/1202739]
loss:     nan  [601600/1202739]
loss:     nan  [608000/1202739]
loss:     nan  [614400/1202739]
loss:     nan  [620800/1202739]
loss:     nan  [627200/1202739]
loss:     nan  [633600/1202739]
loss:     nan  [640000/1202739]
loss:     nan  [646400/1202739]
loss:     nan  [652800/1202739]
loss:     nan  [659200/1202739]
loss:     nan  [665600/1202739]
loss:     nan  [672000/1202739]
loss:     nan  [678400/1202739]
loss:     nan  [684800/1202739]
loss:     nan  [691200/1202739]
loss:     nan  [697600/1202739]
loss:     nan  [704000/1202739]
loss:     nan  [710400/1202739]
loss:     nan  [716800/1202739]
loss:     nan  [723200/1202739]
loss:     nan  [729600/1202739]
loss:     nan  [736000/1202739]
loss:     nan  [742400/1202739]
loss:     nan  [748800/1202739]
loss:     nan  [755200/1202739]
loss:     nan  [761600/1202739]
loss:     nan  [768000/1202739]
loss:     nan  [774400/1202739]
loss:     nan  [780800/1202739]
loss:     nan  [787200/1202739]
loss:     nan  [793600/1202739]
loss:     nan  [800000/1202739]
loss:     nan  [806400/1202739]
loss:     nan  [812800/1202739]
loss:     nan  [819200/1202739]
loss:     nan  [825600/1202739]
loss:     nan  [832000/1202739]
loss:     nan  [838400/1202739]
loss:     nan  [844800/1202739]
loss:     nan  [851200/1202739]
loss:     nan  [857600/1202739]
loss:     nan  [864000/1202739]
loss:     nan  [870400/1202739]
loss:     nan  [876800/1202739]
loss:     nan  [883200/1202739]
loss:     nan  [889600/1202739]
loss:     nan  [896000/1202739]
loss:     nan  [902400/1202739]
loss:     nan  [908800/1202739]
loss:     nan  [915200/1202739]
loss:     nan  [921600/1202739]
loss:     nan  [928000/1202739]
loss:     nan  [934400/1202739]
loss:     nan  [940800/1202739]
loss:     nan  [947200/1202739]
loss:     nan  [953600/1202739]
loss:     nan  [960000/1202739]
loss:     nan  [966400/1202739]
loss:     nan  [972800/1202739]
loss:     nan  [979200/1202739]
loss:     nan  [985600/1202739]
loss:     nan  [992000/1202739]
loss:     nan  [998400/1202739]
loss:     nan  [1004800/1202739]
loss:     nan  [1011200/1202739]
loss:     nan  [1017600/1202739]
loss:     nan  [1024000/1202739]
loss:     nan  [1030400/1202739]
loss:     nan  [1036800/1202739]
loss:     nan  [1043200/1202739]
loss:     nan  [1049600/1202739]
loss:     nan  [1056000/1202739]
loss:     nan  [1062400/1202739]
loss:     nan  [1068800/1202739]
loss:     nan  [1075200/1202739]
loss:     nan  [1081600/1202739]
loss:     nan  [1088000/1202739]
loss:     nan  [1094400/1202739]
loss:     nan  [1100800/1202739]
loss:     nan  [1107200/1202739]
loss:     nan  [1113600/1202739]
loss:     nan  [1120000/1202739]
loss:     nan  [1126400/1202739]
loss:     nan  [1132800/1202739]
loss:     nan  [1139200/1202739]
loss:     nan  [1145600/1202739]
loss:     nan  [1152000/1202739]
loss:     nan  [1158400/1202739]
loss:     nan  [1164800/1202739]
loss:     nan  [1171200/1202739]
loss:     nan  [1177600/1202739]
loss:     nan  [1184000/1202739]
loss:     nan  [1190400/1202739]
loss:     nan  [1196800/1202739]

IndexError: ignored